<ul class="flex items-center font-semibold gap-y-1 gap-x-3 bread-crumbs text-xs md:text-sm flex-wrap">
    <li class="relative"><a href="@@breadcrumbs.homeHref" class="text-black/66 hover:text-black">@@breadcrumbs.homeText</a></li>
    <li class="relative"><a href="@@breadcrumbs.parent1Href" class="text-black/66 hover:text-black">@@breadcrumbs.parent1Text</a></li>
    <li class="relative"><a href="@@breadcrumbs.parent2Href" class="text-black/66 hover:text-black">@@breadcrumbs.parent2Text</a></li>
    <li class="relative"><span class="text-black">@@breadcrumbs.current</span></li>
</ul>
