@@include('../includes/headers/header.html')

<section class="relative  pt-30 lg:pt-40 xl:pt-48 2xl:pt-53.75 pb-24">
    <div class="container relative z-10">
        <div class="flex flex-col md:flex-row items-start justify-between w-full gap-10 lg:gap-0">
            <div class="max-w-87.5 lg:max-w-110 xl:max-w-129.5 flex-none w-full">
                <div class="mb-7">
                    @@include('../includes/components/helpers/bread-crumbs.html', {
                        "breadcrumbs": {
                            "homeHref": "/",
                            "homeText": "Home",
                            "parent1Href": "/about-us.html",
                            "parent1Text": "About Us",
                            "parent2Href": "/about-us.html",
                            "parent2Text": "Link 2",
                            "current": "News"
                        }
                    })
                </div>
                <h2 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-extrabold uppercase">News & Media from AD Food Hub</h2>
            </div>
            <div class="w-full relative mt-[clamp(-282px,-3.656vw,70.5px)] lg:mt-[clamp(-282px,-10.656vw,70.5px)]  xl:mt-[clamp(-282px,-14.656vw,70.5px)] 2xl:mt-[clamp(-282px,-18.656vw,70.5px)] end-[clamp(-10px,-0.661vw,-2.5px)] mb-[clamp(-380px,-25.1322vw,-95px)]">
                <span class="pointer-events-none rtl:-scale-x-100 w-[188.65%] aspect-1739/1261 top-[-43.5%] end-[-68.7%] inline-block absolute  bg-[url('../images/brand-line-elements-b-11.png')] bg-no-repeat bg-center bg-cover mix-blend-multiply"></span>
                <svg class="w-full h-auto rtl:-scale-x-100" width="900" height="948" viewBox="0 0 900 948" fill="none" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g style="mix-blend-mode:plus-darker">
                        <path d="M818.193 507.036C714.737 670.502 498.355 719.148 334.89 615.692L93.3175 462.802C196.774 299.337 413.156 250.69 576.621 354.146L818.193 507.036Z" fill="url(#paint0_linear_9618_4434)" fill-opacity="0.58" />
                    </g>
                    <mask id="mask0_9618_4434" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="157" y="258" width="661" height="364">
                        <path d="M817.952 503.032C714.498 636.41 522.507 660.667 389.13 557.212L157.125 377.257C260.58 243.879 452.57 219.622 585.948 323.077L817.952 503.032Z" fill="black" />
                    </mask>
                    <g mask="url(#mask0_9618_4434)">
                        <rect x="114.107" y="247.34" width="721.167" height="412.63" fill="url(#pattern0_9618_4434)" />
                    </g>
                    <g style="mix-blend-mode:screen">
                        <path d="M818.634 503.56C715.179 636.937 523.189 661.194 389.811 557.739L157.128 377.258C260.583 243.88 452.574 219.623 585.951 323.078L818.634 503.56Z" fill="url(#paint1_linear_9618_4434)" />
                        <path d="M818.634 503.56C715.179 636.937 523.189 661.194 389.811 557.739L157.128 377.258C260.583 243.88 452.574 219.623 585.951 323.078L818.634 503.56Z" fill="#2A3655" fill-opacity="0.93" />
                        <path d="M818.634 503.56C715.179 636.937 523.189 661.194 389.811 557.739L157.128 377.258C260.583 243.88 452.574 219.623 585.951 323.078L818.634 503.56Z" fill="#664238" fill-opacity="0.56" />
                    </g>
                    <g style="mix-blend-mode:plus-darker">
                        <path d="M818.634 503.561C700.068 656.42 480.034 684.221 327.174 565.654L101.275 390.434V390.434C219.841 237.575 439.876 209.774 592.735 328.341L818.634 503.561V503.561Z" fill="url(#paint2_linear_9618_4434)" fill-opacity="0.47" />
                    </g>
                    <defs>
                        <pattern id="pattern0_9618_4434" patternContentUnits="objectBoundingBox" width="1" height="1">
                            <use xlink:href="#image0_9618_4434" transform="matrix(0.000248337 0 0 0.000434028 -0.00859505 0)" />
                        </pattern>
                        <linearGradient id="paint0_linear_9618_4434" x1="434.313" y1="653.559" x2="472.053" y2="285.424"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#86BB3B" />
                            <stop offset="1" stop-color="#8CD623" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_9618_4434" x1="394.22" y1="561.159" x2="581.542" y2="319.658"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#2D3955" stop-opacity="0.73" />
                            <stop offset="0.2" stop-color="#2D3955" stop-opacity="0.2" />
                        </linearGradient>
                        <linearGradient id="paint2_linear_9618_4434" x1="414.006" y1="633.006" x2="499.037" y2="242.182"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#2BACCC" />
                            <stop offset="1" stop-color="#288AB5" stop-opacity="0" />
                        </linearGradient>
                        <image id="image0_9618_4434" width="4096" height="2304" preserveAspectRatio="none" xlink:href="images/banner-news.jpg" />
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="bg-white rounded-3xl w-full p-4 md:p-6 lg:p-8 xl:p-10 2xl:p-12 relative z-10">
            <div class="py-3 md:py-4 lg:py-5 xl:py-6 2xl:py-7 mb-3 lg:mb-4 xl:mb-5">
                @@include('../includes/components/helpers/head.html', {
                    "head": {
                        "counter": "(02)",
                        "title": "Latest updates",
                        "colorText": "text-gray-500 flex-row-reverse"
                    }
                })
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 xl:gap-5">
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-1.jpg",
                        "imageALT": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "title": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-5.jpg",
                        "imageALT": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "title": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-6.jpg",
                        "imageALT": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "title": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-2.jpg",
                        "imageALT": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "title": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-3.jpg",
                        "imageALT": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "title": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                }) 
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-4.jpg",
                        "imageALT": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "title": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-1.jpg",
                        "imageALT": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "title": "Abu Dhabi Food Hub- KEZAD is participating in Future Food Forum.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-5.jpg",
                        "imageALT": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "title": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
                @@include('../includes/components/utilities/item-news.html', {
                    "itemNews": {
                        "linkHref": "/news-detail.html",
                        "imageURL": "images/image-new-6.jpg",
                        "imageALT": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "title": "The growth of Abu Dhabi Food Hub is part of a larger, future-focused vision taking shape within KEZAD.",
                        "paragraph": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae diam."
                    }
                })
            </div>
            <div class="d-flex justify-content-center mt-3 lg:mt-4 xl:mt-5 pt-4 sm:pt-6 md:pt-8 lg:pt-10 xl:pt-12 2xl:pt-16 pb-4 lg:pb-6 xl:pb-8">
                <ul class="pagination flex items-center gap-1 md:gap-2 xl:gap-3 justify-center text-center">
                    @@include('../includes/components/utilities/item-pagination.html', {
                        "item": { "href": "javascript:void(0)", "label": "1" }
                    })
                    @@include('../includes/components/utilities/item-pagination.html', {
                        "item": { "href": "javascript:void(0)", "label": "2" }
                    })
                    @@include('../includes/components/utilities/item-pagination.html', {
                        "item": { "href": "javascript:void(0)", "label": "3" }
                    })
                    @@include('../includes/components/utilities/item-pagination.html', {
                        "item": { "href": "javascript:void(0)", "label": "4" }
                    })
                    @@include('../includes/components/utilities/item-pagination.html', {
                        "item": { "href": "javascript:void(0)", "label": "5" }
                    })
                </ul>
            </div>
        </div>
    </div>
</section>

<section class=" py-12.5">
    <div class="container">
        @@include('../includes/sections/section-card.html')
    </div>
</section>

@@include('../includes/sections/section-about-partner.html')

@@include('../includes/footer.html')