@@include('../includes/headers/header.html', {
    "header": {
        "class": "header-transparent"
    }
})

<section class="relative pt-30 xl:pt-40 pb-40 sm:pb-48 md:pb-60 lg:pb-72 xl:pb-96 2xl:pb-107.5">
    <figure class="w-full absolute inset-0">
        <img src="images/term-condition.jpg" alt="" class="w-full h-full object-cover object-center">
        <span class="absolute inset-0 [background:linear-gradient(0deg,rgba(102,66,56,0.10)_0%,rgba(102,66,56,0.10)_100%),linear-gradient(0deg,rgba(42,54,85,0.53)_0%,rgba(42,54,85,0.53)_100%),linear-gradient(180deg,rgba(45,57,85,0.73)_0%,rgba(45,57,85,0.20)_20%)] mix-blend-multiply"></span>
    </figure>
    <div class="container relative z-10">
        <div class="max-w-120 lg:max-w-145 xl:max-w-174.5 flex-none w-full">
            <div class="mb-7 bread-crumbs-white">
                @@include('../includes/components/helpers/bread-crumbs.html', {
                    "breadcrumbs": {
                        "homeHref": "/",
                        "homeText": "Home",
                        "parent1Href": "/",
                        "parent1Text": "Link 1",
                        "parent2Href": "/",
                        "parent2Text": "Link 2",
                        "current": "News"
                    }
                })
            </div>
            <h1 class="text-2xl sm:text-28 md:text-3xl lg:text-4xl xl:text-5xl font-extrabold text-white">Terms & Conditions</h1>
        </div>
    </div>
</section>

<section class="relative z-10 pb-12 xl:pb-16 2xl:pb-22">
    <div class="container">
        <div class="-mt-24 sm:-mt-32 md:-mt-40 lg:-mt-50 xl:-mt-72 2xl:-mt-87 bg-white w-full rounded-xl p-4 sm:p-6 md:p-8 lg:p-12 xl:p-16 2xl:p-17 2xl:pb-25">
            <div class="max-w-264.5 text-editor mx-auto w-full">
                <p>Every detail of the Fruits & Vegetables Market is engineered for performance. With dedicated segments for Fruits & Vegetables,</p>
                <h3>Information about us</h3>
                <p>O&P, and a Crossdock facility for direct dispatch, the market ensures fast turnover of perishable goods while
                maintaining optimal quality. Its proximity to cold chain facilities, pre-cooling units, and customs checkpoints keeps
                produce fresh and market-ready — minimizing handling times and reducing spoilage.</p>
                <h3>Changes to these terms</h3>
                <p>For traders and distributors, the Hub’s integrated logistics ecosystem means less downtime and more opportunity. Whether
                you’re moving containers through Khalifa Port, storing in temperature-controlled warehouses, or distributing across the
                UAE, every link of the supply chain operates within reach. The on-site value-added services — from sorting and packaging
                to quality testing and labeling — further enhance efficiency and profitability. For traders and distributors, the Hub’s
                integrated logistics ecosystem means less downtime and more opportunity. Whether you’re moving containers through
                Khalifa Port, storing in temperature-controlled warehouses, or distributing across the UAE, every link of the supply
                chain operates within reach. The on-site value-added services — from sorting and packaging to quality testing and
                labeling — further enhance efficiency and profitability.</p>
                <h3>Changes to our site</h3>
                <p>For traders and distributors, the Hub’s integrated logistics ecosystem means less downtime and more opportunity. Whether
                you’re moving containers through Khalifa Port, storing in temperature-controlled warehouses, or distributing across the
                UAE, every link of the supply chain operates within reach. The on-site value-added services — from sorting and packaging
                to quality testing and labeling — further enhance efficiency and profitability. For traders and distributors, the Hub’s
                integrated logistics ecosystem means less downtime and more opportunity. Whether you’re moving containers through
                Khalifa Port, storing in temperature-controlled warehouses, or distributing across the UAE, every link of the supply
                chain operates within reach. The on-site value-added services — from sorting and packaging to quality testing and
                labeling — further enhance efficiency and profitability.</p>
                <h3>Accessing our site</h3>
                <p>For traders and distributors, the Hub’s integrated logistics ecosystem means less downtime and more opportunity. Whether
                you’re moving containers through Khalifa Port, storing in temperature-controlled warehouses, or distributing across the
                UAE, every link of the supply chain operates within reach. The on-site value-added services — from sorting and packaging
                to quality testing and labeling — further enhance efficiency and profitability. For traders and distributors, the Hub’s
                integrated logistics ecosystem means less downtime and more opportunity. Whether you’re moving containers through
                Khalifa Port, storing in temperature-controlled warehouses, or distributing across the UAE, every link of the supply
                chain operates within reach. The on-site value-added services — from sorting and packaging to quality testing and
                labeling — further enhance efficiency and profitability.</p>
            </div>
        </div>
    </div>
</section>

@@include('../includes/footer.html')