<div id="image-4" class="absolute rtl:-scale-x-100 top-4 end-0 w-30 md:w-40 xl:w-54.5 translate-y-[200%] z-10">
    <svg class="w-full h-auto" width="218" height="434" viewBox="0 0 218 434" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:plus-darker">
            <path d="M2.26827e-05 4.1977e-05L34.8898 4.50272e-05C136.019 5.38682e-05 218 82.1817 218 183.559L218 434C90.6216 418.016 -3.29289e-06 297.126 5.492e-06 196.639L2.26827e-05 4.1977e-05Z" fill="url(#paint0_linear_9618_4624)" fill-opacity="0.69" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_9618_4624" x1="243" y1="463.5" x2="63" y2="108.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0FB2DB" />
                <stop offset="1" stop-color="#0A97D5" stop-opacity="0.09" />
            </linearGradient>
        </defs>
    </svg>
</div>

<div id="image-5" class="absolute rtl:-scale-x-100 top-74 -start-9 md:-start-12 lg:-start-17 w-30 md:w-45 lg:w-58 translate-y-full z-10">
    <svg class="w-full h-auto" width="231" height="512" viewBox="0 0 231 512" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:plus-darker">
            <path d="M231 512H194.03C86.8696 512 0 415.048 0 295.451L0 0C134.974 18.8571 231 161.473 231 280.021L231 512Z" fill="url(#paint0_linear_9618_4623)" fill-opacity="0.88" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_9618_4623" x1="231" y1="512" x2="0.928469" y2="134.131" gradientUnits="userSpaceOnUse">
                <stop stop-color="#65A20E" />
                <stop offset="1" stop-color="#8CD623" stop-opacity="0.09" />
            </linearGradient>
        </defs>
    </svg>
</div>