<svg class="w-full h-auto" width="219" height="434" viewBox="0 0 219 434" fill="none" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <g style="mix-blend-mode:plus-darker">
        <path d="M218 434H183.11C81.9808 434 0 351.818 0 250.441L0 0C127.378 15.9843 218 136.874 218 237.361L218 434Z" fill="url(#fill-@@itemSvg.id)" />
    </g>
    <foreignObject x="0" y="0" width="219" height="434" clip-path="url(#clip-@@itemSvg.id)">
        <video xmlns="http://www.w3.org/1999/xhtml" autoplay muted loop playsinline class="w-full h-full object-cover d-block">
            <source src="@@itemSvg.videoSrc" type="video/mp4" />
        </video>
    </foreignObject>
    <g style="mix-blend-mode:color">
        <path d="M218.058 433.663H185.88C92.6097 433.663 17 357.919 17 264.484V33.6627C134.479 48.3947 218.058 159.814 218.058 252.429V433.663Z" fill="@@itemSvg.colorFill" />
    </g>
    <defs>
        <clipPath id="clip-@@itemSvg.id">
            <path d="M218.058 433.663H185.88C92.6097 433.663 17 357.919 17 264.484V33.6627C134.479 48.3947 218.058 159.814 218.058 252.429V433.663Z" />
        </clipPath>
        <linearGradient id="fill-@@itemSvg.id" x1="212" y1="311" x2="6.12788e-06" y2="3.99996" gradientUnits="userSpaceOnUse">
            <stop stop-color="@@itemSvg.gradientStart" />
            <stop offset="1" stop-color="@@itemSvg.gradientEnd" stop-opacity="@@itemSvg.gradientEndOpacity" />
        </linearGradient>
    </defs>
</svg>
