<a href="@@button.href" class="btn group overflow-hidden bg-white border border-white text-sm md:text-base font-medium text-black tracking-15 py-2 lg:py-3 ps-3 pe-11 lg:pe-14 relative rounded-full inline-block w-fit">
    <span class="relative inline-block sm:mx-1 md:mx-2 lg:mx-3 xl:mx-4">
        <span class="inline-block group-hover:translate-y-[-200%] transition-all duration-600 ease-in-out">@@button.text</span>
        <span class="absolute top-0 start-0 inline-block translate-y-[200%] group-hover:translate-y-0 transition-all duration-600 ease-in-out">@@button.text</span>
    </span>
    <span class="rounded-full rtl:-scale-x-100 bg-black group-hover:bg-gray-300 transition-colors duration-0 group-hover:delay-400 size-8 lg:size-10 appearance-none absolute top-0 bottom-0 end-1  m-auto cursor-pointer overflow-hidden">
        <span class="absolute inset-0 m-auto size-0 transition bg-gray-300 group-hover:size-10 rounded-full"></span>
        <i class="size-4.5 absolute inset-0 m-auto group-hover:translate-x-full group-hover:-translate-y-full transition">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.25 12.75L12.75 5.25" stroke="currentColor" class="stroke-gray-100" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5.25 5.25H12.75V12.75" stroke="currentColor" class="stroke-gray-100" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </i>
        <i class="size-4.5 absolute inset-0 m-auto -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 transition">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.25 12.75L12.75 5.25" stroke="currentColor" class="stroke-gray-700" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5.25 5.25H12.75V12.75" stroke="currentColor" class="stroke-gray-700" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </i>
    </span>
</a>