@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --default-font-family: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Exo", sans-serif;

    --color-sky-500: #14B8E7;

    --color-blue-500: #283A57;
    --color-blue-600: #2D3955;
    --color-blue-900: #10131C;

    --color-gray-50: #F2F2F2;
    --color-gray-100: #F5F6F6;
    --color-gray-200: #F1F1F1;
    --color-gray-300: #E3E3E3;
    --color-gray-400: #EFEFEF;
    --color-gray-500: #131313;
    --color-gray-600: #1F1F1F;
    --color-gray-700: #333332;
    --color-gray-800: #565656;
    --color-gray-900: #757575;

    --color-zink-500: #EAEAEA;
    --color-zink-600: #D4D4D4;

    --color-black: #000000;

    --color-green-400: #709936;
    --color-green-500: #8CD623;
    --color-green-600: #8DC241;

    --breakpoint-desktop: 90rem;
    --breakpoint-2xl: 90rem;

    --tracking-1: 1%;
    --tracking-2: 2%;
    --tracking-15: 0.15px;

    --text-3xl: 2rem;
    --text-3xl--line-height: 1.15;
    --text-5xl: 2.875rem;
    --text-5xl--line-height: 1.31;
    --text-6xl: 3.375rem;
    --text-6xl--line-height: 1.15;
    --text-7xl: 4.375rem;
    --text-7xl--line-height: 1.15;
    --text-8xl: 6.125rem;
    --text-8xl--line-height: 0.96938;
    --text-9xl: 7.5rem;
    --text-9xl--line-height: 1.3;
    
    --text-0: 0px;
    --text-22: 1.375rem;
    --text-22--line-height: 1.36;
    --text-28: 1.75rem;
    --text-28--line-height: 1.15;
}

@layer base {
    .container {
        @apply max-w-[1536px]! px-4 md:px-8 2xl:px-12 mx-auto;
    }

    body {
        @apply font-normal;
    }

    h1, h2 {
        @apply font-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-blue-500 font-semibold;
    }

    h1 span,
    h2 span,
    h3 span,
    h4 span,
    h5 span,
    h6 span {
        @apply text-sky-500;
    }

    a,
    img,
    svg,
    ::before,
    ::after {
        @apply transition-all duration-400 ease-in-out;
    }

    svg {
        @apply max-w-full h-auto;
    }
}

*, ::before, ::after {
    @apply align-top;
}

.slider-news .slick-slide {
    @apply w-70 sm:w-80 lg:w-90 xl:w-108 me-3 lg:me-5;
}

.slider-space .slick-slide {
    @apply me-4 md:me-6 xl:me-8 2xl:me-10;
}

.slider-news .slick-list,
.slider-market .slick-list,
.slider-space .slick-list {
    @apply overflow-visible;
}

.slider-space .slick-track {
    @apply flex;
}
.slider-space .slick-track::before,
.slider-space .slick-track::after {
    @apply hidden!;
}

.slider-space .slick-track .slick-slide {
    @apply h-auto;
}
.slider-space .slick-track .slick-slide > div {
    @apply md:h-full;
}

.slider-market .slick-slide {
    @apply min-w-70  w-[29.090vw] max-w-110 me-3 lg:me-5 xl:me-6;
}

.active > span {
    @apply opacity-100!;
}

.transition {
    @apply transition-all duration-400 ease-in-out;
}

header.headroom--top {
    @apply shadow-none!;
}

header.header-transparent.headroom--top:not(.open):not(.hover) .brand-logo path {
    @apply fill-white;
}

header.header-transparent.headroom--top:not(.open):not(.hover) nav > ul > li > a {
    @apply xl:text-white xl:opacity-100;
}

header.header-transparent.headroom--top:not(.hover) .link a,
header.header-transparent.headroom--top:not(.hover) .link button {
    @apply text-white;
}

header.header-transparent.headroom--unpinned {
    @apply shadow-none;
}
header.headroom--unpinned {
    @apply -top-19.5 shadow-none;
}
header.header-transparent.headroom--pinned {
    @apply top-0 shadow-md;
}

header nav > ul > li:not(:last-child)::before {
    @apply xl:content-[''] size-1 rounded-full bg-gray-500 absolute top-0 bottom-0 end-0 inline-block my-auto z-100;
}

header.header-transparent.headroom--top:not(.hover) nav > ul >li:not(:last-child)::before,
header.headroom--top:not(.hover) .nav-toggle span {
    @apply bg-white;
}

header:not(.headroom--top):not(.hover) > span {
    @apply opacity-100 visible;
}

header.open nav {
    @apply start-0
}
header.open .nav-backdrop {
    @apply opacity-100 visible;
}

header.headroom--unpinned .sub-nav.show {
    @apply xl:opacity-0! xl:invisible!;
}


header nav > ul > li.open {
    @apply bg-gray-500/10 xl:bg-transparent;
}

header .nav-item.active a{
    @apply text-green-400;
}

.modal.show {
    @apply opacity-100 visible;
}

@media (max-height: 900px) {
    .full-height {
        min-height: 100vh !important;
   }
}

.slick-dots {
    @apply flex justify-center gap-1 sm:gap-2 lg:gap-3 text-0 mt-6 lg:mt-8 2xl:mt-12;
}

.slick-dots button {
    @apply size-2 lg:size-3 bg-gray-500 rounded-full opacity-40 duration-400 transition-all ease-in-out;
}

.slick-dots .slick-active button {
    @apply opacity-100
}

.bread-crumbs li:not(:last-child)::after {
    @apply content-["/"] text-black/66 absolute top-1/2 -translate-y-1/2 -end-2;
}

.bread-crumbs-white .bread-crumbs li a {
    @apply text-white/66;
}

.bread-crumbs-white .bread-crumbs li a:hover,
.bread-crumbs-white .bread-crumbs li span,
.bread-crumbs-white .bread-crumbs li:not(:last-child)::after {
    @apply text-white;
}

.text-editor figure {
    @apply inline-block w-full mb-6 md:mb-8;
} 
.text-editor figure img {
    @apply rounded-md;
}

.text-editor figure figcaption {
    @apply text-xs md:text-sm  text-gray-700 mt-2 md:mt-2.5;
}

.text-editor *:first-child,
.text-editor *:first-child {
    @apply mt-0;
}

.text-editor *:last-child,
.text-editor *:last-child {
    @apply mb-0;
}

.text-editor h2 {
    @apply text-xl sm:text-22 md:text-2xl lg:text-28 xl:text-3xl text-black font-sans mb-6 md:mb-8 lg:mb-10;
}

.text-editor h3 {
    @apply text-base md:text-lg lg:text-xl text-black font-medium py-2.5 md:py-3.5 mb-6 md:mb-7.5 lg:mb-9;
}

.text-editor p {
    @apply text-sm md:text-base  text-gray-700 mb-6 md:mb-7.5 lg:mb-9;
}

.btn-sm .btn {
    @apply ps-3  sm:ps-2 lg:ps-1 pe-11;
}

.section-head {
   @apply pt-28 md:pt-36 lg:pt-40 xl:pt-44; 
}

.section-head h1 {
    @apply max-w-125 lg:max-w-156 xl:max-w-188.5 2xl:max-w-5xl;
}
.section-head h6 {
    @apply max-w-102.5 xl:max-w-122.5 2xl:max-w-122.5;
}

.text-paragraph-large p {
    @apply max-w-210 lg:max-w-230 xl:max-w-250;
}