<div class="inline-block w-full mb-9">
    <div class="inline-block w-full text-start ps-6.5 mb-3">
        <h2 class="font-bold whitespace-nowrap title-line translate-x-[200%]  text-3xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl -tracking-2  uppercase">@@titleParagraph.line1</h2>
    </div>
    <div class="inline-block w-full text-end pe-7.5">
        <h2 class="font-bold whitespace-nowrap title-line translate-x-[-200%] text-3xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl -tracking-2  uppercase">@@titleParagraph.line2</h2>
    </div>
</div>
<p class="text-gray-500/66 font-medium text-base md:text-lg lg:text-xl xl:text-22 max-w-125 md:max-w-145 lg:max-w-160 xl:max-w-182 mx-auto text-center">@@titleParagraph.description</p>