<div class="col-span-1">
    <div class="flex h-full flex-col p-4 md:p-6 2xl:px-8 2xl:py-7 bg-blue-500/66 rounded-2xl lg:hover:rounded-b-none min-h-55 md:min-h-60 xl:min-h-70 hover:bg-green-400 transition relative group">
        <figure class="w-full flex justify-end">
            <span class="w-12 md:w-14 xl:w-auto h-auto">@@itemFeatureCard.iconSVG</span>
        </figure>
        <h3 class="mt-auto text-base sm:text-lg md:text-xl lg:text-22 xl:text-2xl font-sans font-medium tracking-1 text-white xl:pe-12 2xl:pe-14 transition top-0 lg:group-hover:top-7.5 relative z-10">@@itemFeatureCard.title</h3>
        <span class="text-white -mt-0.5 text-xs md:text-sm font-medium lg:absolute top-full origin-top lg:scale-y-0 lg:group-hover:scale-y-100 lg:px-6 start-0 lg:pb-7.5 pt-2 sm:pt-4 lg:pt-6 lg:opacity-0 lg:group-hover:opacity-100 group-hover:bg-green-400 transition rounded-b-2xl">@@itemFeatureCard.description</span>
    </div>
</div>