<li>
    <a href="@@item.href" class="rounded-full bg-gray-400 text-sm md:text-base lg:text-lg inline-block transition-colors duration-0 hover:delay-400 hover:bg-gray-500 size-8 lg:size-10 appearance-none overflow-hidden group relative">
        <span class="absolute inset-0 m-auto size-0 transition bg-gray-500 group-hover:size-10 rounded-full"></span>        
        <i class="size-4.5 absolute inset-0 m-auto group-hover:translate-x-full group-hover:-translate-y-full transition font-bold text-white not-italic mix-blend-exclusion opacity-66">@@item.label</i>
        <i class="size-4.5 absolute inset-0 m-auto -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 transition font-bold text-white not-italic">@@item.label</i>
    </a>
</li>
