<a href="@@partner.linkHref" class="col-span-1 rounded-2xl md:rounded-3xl overflow-hidden aspect-459/359 relative flex items-end p-4 xl:p-6 group">
    <figure class="absolute inset-0">
        <img src="@@partner.imageSrc" alt="@@partner.imageAlt" class="w-full h-full object-cover">
        <span class="absolute transition bg-[linear-gradient(180deg,rgba(28,33,45,0.20)_6.95%,rgba(28,33,45,0.85)_100%)] inset-0 z-10"></span>
        <span class="absolute transition bg-[linear-gradient(180deg,rgba(28,33,45,0.23)_6.95%,#1C212D_100%),linear-gradient(0deg,rgba(45,57,85,0.70)_0%,rgba(45,57,85,0.70)_100%)] inset-0 z-10 lg:opacity-0 lg:group-hover:opacity-100"></span>
    </figure>
    <div class="flex justify-end items-end gap-2 xl:gap-8 relative z-10 w-full">
        <div class="relative flex flex-col ">
            <h3 class="text-22 sm:text-2xl lg:text-28 xl:text-3xl 2xl:text-4xl tracking-1 text-white font-bold mb-1">@@partner.title</h3>
            <div class="grid transition-all duration-500 lg:group-hover:grid-rows-[1fr] lg:grid-rows-[0fr] overflow-hidden">
                <p class="text-white text-base xl:text-lg 2xl:text-xl transition overflow-hidden pt-1 md:pt-2 lg:pt-3">@@partner.paragraph</p>
            </div>
        </div>
        <span class="rounded-full rtl:-scale-x-100 shrink-0 bg-gray-300 transition-colors duration-0 group-hover:delay-400 group-hover:bg-gray-500 size-8 lg:size-10 appearance-none overflow-hidden relative">
            <span class="absolute inset-0 m-auto size-0 transition bg-gray-500 group-hover:size-10 rounded-full"></span>
            <i class="size-4.5 absolute inset-0 m-auto group-hover:translate-x-full group-hover:-translate-y-full transition">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 12.75L12.75 5.25" stroke="currentColor" class="stroke-gray-500" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.25 5.25H12.75V12.75" stroke="currentColor" class="stroke-gray-500" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </i>
            <i class="size-4.5 absolute inset-0 m-auto -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 transition">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 12.75L12.75 5.25" stroke="currentColor" class="stroke-gray-100" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M5.25 5.25H12.75V12.75" stroke="currentColor" class="stroke-gray-100" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </i>
        </span>
    </div>
</a>