<a href="@@link.href" class="flex items-center gap-2 lg:gap-4 text-nowrap text-xs md:text-sm  font-medium tracking-15 text-black hover:text-sky-500 w-fit group">
    @@link.text
    <i class="size-4.5 rtl:-scale-x-100 rtl:group-hover:-rotate-45 group-hover:rotate-45 transition">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.25 12.75L12.75 5.25" stroke="currentColor" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M5.25 5.25H12.75V12.75" stroke="currentColor" stroke-width="1.65466" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </i>
</a>

